DiveLog/SampleData/LocationData/LocationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.LocationData" targetNamespace="Expression.Blend.SampleData.LocationData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocationData" type="tns:LocationData" />
  <xs:complexType name="LocationData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="LocationName" type="xs:string" />
    <xs:attribute name="LocationImage" type="tns:Basic-Image" />
    <xs:attribute name="Country" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>